# use glob syntax.
syntax: glob
*.swp
*.swo
*.pyc
tmp
old
data/dst
data/dist
data/models
*.log
TODO
NOTES
abook/work
abook/in/
abook/out/
abook/segments/
abook/do-eval.sh
abook/hypothesis.txt
abook/incoming/
abook/reference.txt
wav2goofy.py
