# use glob syntax.
syntax: glob
*.swp
*.swo
*.pyc
tmp
old
data/dst
data/dist
data/models
data/arc
*.log
TODO
NOTES
abook/work
abook/in/
abook/out/
abook/segments/
abook/do-eval.sh
abook/hypothesis.txt
abook/incoming/
abook/reference.txt
data/src/speech/voxforge_de_noisy
data/src/speech/voxforge_de_phone
data/src/speech/zamia_de_noisy
data/src/speech/zamia_de_phone
data/src/speech/librispeech_noisy/
data/src/speech/librispeech_phone/
data/src/speech/voxforge_en_noisy/
data/src/speech/voxforge_en_phone/
data/src/speech/zamia_en_noisy/
data/src/speech/zamia_en_phone/
wav2goofy.py
abook/librivox-download.sh
logo
benchmarks
