//- Navigation
nav.light-blue.lighten-1
	.nav-wrapper
		a.brand-logo(href='#!').center
			img(src='/static/img/zamia_speech_logo_white_64px.png', height='58px')
		ul.left.hide-on-med-and-down
			li
				a(href='#use_cases') Use Cases
			li
				a(href='#features') Features
			li
				a(href='https://github.com/gooofy/zamia-speech#download') Download
